.top-header {
  height: 32px;
  background-color: #313b50;
}
.top-header > .top-header-content {
  position: relative;
  text-align: right;
  color: #ccc;
  font-size: 12px;
  line-height: 32px;
}
.top-header > .top-header-content .menu {
  display: inline-block;
  font-size: 12px;
  line-height: 32px;
}
.top-header > .top-header-content .menu .menu-up {
  display: none;
}
.top-header > .top-header-content .menu:hover .menu-down {
  display: none;
}
.top-header > .top-header-content .menu:hover .menu-up {
  display: inline;
}
.top-header > .top-header-content .menu:hover + .menu-content {
  display: block;
}
.top-header > .top-header-content .menu-content {
  display: none;
  width: 100px;
  height: 70px;
  position: absolute;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.top-header > .top-header-content .menu-content a {
  display: block;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.top-header > .top-header-content .menu-content:hover {
  display: block;
  z-index: 999;
}
.nav-wrapper {
  height: 80px;
}
.nav-wrapper .logo {
  display: inline-block;
  width: 209px;
  height: 35px;
  margin-top: 25px;
  background: url("../images/logo.png") no-repeat;
}
.nav-wrapper .nav {
  display: inline-block;
  padding-left: 20px;
}
.nav-wrapper .nav li {
  margin-top: 25px;
  height: 35px;
  line-height: 35px;
  padding: 0 5px;
  cursor: pointer;
}
.nav-wrapper .nav li a,
.nav-wrapper .nav li a:focus,
.nav-wrapper .nav li a:hover {
  border: 0;
  font-size: 16px;
  color: #222;
}
.nav-wrapper .nav li a:hover {
  border-bottom: 3px solid #1b6d85;
}
.nav-wrapper .buttons {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  padding: 0 10px;
}
.nav-wrapper .buttons .btn {
  width: 90px;
  line-height: 20px;
  border-radius: 30px;
  font-size: 14px;
}
.nav-wrapper .buttons .btn span {
  font-size: 10px;
}
.nav-wrapper .buttons .btn:first-of-type {
  margin-right: 5px;
  background-image: linear-gradient(90deg, #36a7f1, #49cbfe), linear-gradient(#32a3ef, #32a3ef);
  color: #fff;
}
.nav-wrapper .buttons .btn:last-of-type {
  margin-left: 5px;
}
.carousel {
  padding: 0;
}
.notice {
  height: 40px;
  margin-top: 10px;
  padding: 0;
}
.notice .image {
  width: 15px;
  height: 15px;
  line-height: 40px;
  cursor: pointer;
}
.notice .text {
  line-height: 40px;
  color: #666;
  cursor: pointer;
}
.notice .time {
  padding-left: 20px;
  line-height: 40px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
.notice .more {
  float: right;
  line-height: 40px;
  color: #999;
  font-size: 12px;
  cursor: pointer;
}
.intro {
  height: 200px;
}
.intro .content {
  height: 150px;
  padding-top: 50px;
  padding-bottom: 46px;
}
.intro .content .content-item {
  font-size: 0;
  cursor: pointer;
}
.intro .content .content-item .image,
.intro .content .content-item .text {
  display: inline-block;
}
.intro .content .content-item .image {
  width: 100px;
  height: 50px;
  font-size: 50px;
  text-align: center;
}
.intro .content .content-item .text {
  font-size: 14px;
  line-height: 27px;
}
.intro .content .content-item .text p {
  font-weight: bold;
  font-size: 16px;
  color: #313b50;
}
.intro .content .content-item .text span {
  font-size: 14px;
  color: #999;
}
.intro .content .content-item:hover {
  padding-top: 2px;
}
.intro .content .content-item:hover div,
.intro .content .content-item:hover p,
.intro .content .content-item:hover span {
  color: #008aff;
}
.intro .data {
  height: 50px;
  border-top: 1px solid #efefef;
}
.intro .data .data-item {
  line-height: 50px;
  text-align: center;
  color: #999;
}
.intro .data .data-item .number {
  color: #008aff;
}
.intro .data .data-item .split {
  float: right;
  line-height: 50px;
}
.rainbow {
  margin-top: 50px;
  padding: 0;
}
.rainbow .header {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.rainbow .header span {
  font-size: 12px;
  color: #999;
}
.rainbow .header .split {
  font-size: 18px;
}
.rainbow .header .more {
  float: right;
}
.rainbow .content .content-item {
  cursor: pointer;
}
.rainbow .content .content-item .item-header {
  padding-top: 30px;
  font-size: 16px;
  font-weight: bold;
}
.rainbow .content .content-item .item-content {
  padding-top: 20px;
}
.rainbow .content .content-item .item-content .left p:first-of-type {
  line-height: 38px;
  color: #fc2f1a;
  font-size: 28px;
}
.rainbow .content .content-item .item-content .left p:last-of-type {
  color: #999;
  font-size: 14px;
}
.rainbow .content .content-item .item-content .right p:first-of-type {
  line-height: 38px;
  font-size: 16px;
}
.rainbow .content .content-item .item-content .right p:last-of-type {
  color: #999;
  font-size: 14px;
}
.rainbow .content .content-item:hover {
  transform: scale(1.05);
}
.list-fast {
  margin-top: 50px;
  padding: 0;
}
.list-fast .header {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.list-fast .header span {
  font-size: 12px;
  color: #999;
}
.list-fast .header .split {
  font-size: 18px;
}
.list-fast .content {
  margin-top: 30px;
  text-align: center;
}
.list-fast .content .content-item {
  padding: 20px 0;
}
.list-fast .content .content-item .title {
  line-height: 60px;
  font-size: 18px;
  color: #313b50;
}
.list-fast .content .content-item .rate p {
  margin: 0;
  line-height: 40px;
  font-size: 28px;
  color: #fc2f1a;
}
.list-fast .content .content-item .rate span {
  line-height: 20px;
  font-size: 12px;
  color: #999;
}
.list-fast .content .content-item .time p {
  margin: 0;
  line-height: 40px;
  font-size: 20px;
  color: #313b50;
}
.list-fast .content .content-item .time span {
  line-height: 20px;
  font-size: 12px;
  color: #999;
}
.list-fast .content .content-item .info {
  margin: 0;
  line-height: 60px;
}
.list-fast .content .content-item .lend button {
  width: 120px;
  height: 36px;
  margin-top: 12px;
  line-height: 36px;
  border: 1px solid #fc2f1a;
  border-radius: 2px;
  color: #fc2f1a;
}
.list-fast .content .content-item .lend button:hover {
  background-color: #fc2f1a;
  color: #fff;
}
.fast-lend {
  margin-top: 50px;
  padding: 0;
}
.fast-lend .header {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.fast-lend .header span {
  font-size: 12px;
  color: #999;
}
.fast-lend .content {
  margin-top: 30px;
}
.fast-lend .content .content-item {
  cursor: pointer;
}
.fast-lend .content .content-item .item-left {
  margin-right: 200px;
  text-align: center;
}
.fast-lend .content .content-item .item-left .title {
  font-size: 28px;
  color: #008aff;
  line-height: 30px;
  text-align: center;
}
.fast-lend .content .content-item .item-left .info {
  font-size: 14px;
  color: #666;
  line-height: 30px;
  text-align: center;
}
.fast-lend .content .content-item .item-left button {
  width: 100px;
  height: 30px;
  margin-top: 45px;
  border: 1px solid #373d42;
  color: #313b50;
}
.fast-lend .content .content-item .item-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}
.fast-lend .content .content-item .item-right img {
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
}
.fast-lend .content .content-item:hover {
  transform: scale(1.05);
}
.news {
  margin-top: 50px;
  padding: 0;
}
.news .header {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.news .content {
  height: 200px;
  margin-top: 30px;
}
.news .content .content-item {
  position: relative;
}
.news .content .content-item .image {
  width: 240px;
  height: 200px;
  background-image: url("../images/news-1.png");
  background-size: 100% 100%;
}
.news .content .content-item .text {
  position: absolute;
  left: 255px;
  top: 0;
  bottom: 0;
  padding: 0 20px;
}
.news .content .content-item .text p {
  margin: 0;
}
.news .content .content-item .text .title {
  line-height: 45px;
  font-size: 16px;
  border-left: 4px solid #32a3ef;
  color: #313b50;
}
.news .content .content-item .text .time {
  line-height: 35px;
  font-size: 12px;
  color: #999;
}
.news .content .content-item .text .detail {
  padding-top: 21px;
  line-height: 23px;
  font-size: 12px;
  color: #666;
  font-stretch: normal;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .content .content-item:last-of-type .image {
  background-image: url("../images/news-2.png");
}
.media {
  margin-top: 50px;
  padding: 0;
}
.media .header {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.media .content {
  height: 120px;
}
.media .content .content-item {
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  background-color: #313b50;
}
.footer .footer-top {
  margin-top: 30px;
  padding: 0;
  font-size: 16px;
  color: #a9b1c1;
}
.footer .footer-top p {
  font-weight: bold;
  color: #fff;
}
.footer .footer-top ul {
  margin-top: 20px;
  list-style: none;
}
.footer .footer-top ul li {
  line-height: 30px;
}
.footer .footer-top .qr .image-wrapper {
  width: 100%;
}
.footer .footer-top .qr .image-wrapper .image {
  margin: 0 auto;
  width: 108px;
  height: 108px;
  background-image: url("../images/qr-1.png");
  background-size: 100% 100%;
}
.footer .footer-top .qr p {
  margin-top: 10px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #a9b1c1;
}
.footer .footer-top .more p {
  text-align: right;
  color: #fff;
}
.footer .footer-top .more p:nth-of-type(1) {
  font-size: 16px;
}
.footer .footer-top .more p:nth-of-type(2) {
  font-size: 20px;
}
.footer .footer-top .more p:nth-of-type(3) {
  font-size: 12px;
  color: #717e8b;
}
.footer .footer-top .more p:nth-of-type(4) {
  cursor: pointer;
  font-size: 14px;
  color: #9ca4b5;
}
.footer .footer-top .more p:nth-of-type(4) .tel {
  display: none;
}
.footer .footer-top .more p:nth-of-type(4):hover .tel {
  display: inline;
}
.footer .footer-top .more p:nth-of-type(5) {
  font-size: 14px;
  color: #9ca4b5;
}
.footer .split {
  margin: 20px 0 20px 0;
  width: 100%;
  height: 1px;
  background: #666;
}
.footer .footer-bottom {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  color: #717e8b;
}
/*# sourceMappingURL=index.css.map */