.top-header{
  height: 32px;
  background-color: #313b50;
  > .top-header-content{
    position: relative;
    text-align: right;
    color: #ccc;
    font-size: 12px;
    line-height: 32px;
    //hover隐藏与显示
    .menu{
      display: inline-block;
      font-size: 12px;
      line-height: 32px;
      .menu-up{
        display: none;
      }
    }
    .menu:hover{
      .menu-down{
        display: none;
      }
      .menu-up{
        display: inline;
      }
    }
    .menu:hover+.menu-content{
      display: block;
    }
    .menu-content{
      display: none;
      width: 100px;
      height: 70px;
      position: absolute;
      right: 0;
      background-color: #fff;
      border-radius: 5px;
      font-size: 16px;
      a {
        display: block;
        height: 35px;
        line-height: 35px;
        text-align: center;
      }
    }
    .menu-content:hover{
      display: block;
      z-index: 999;
    }
  }
}

.nav-wrapper{
  height: 80px;
  .logo{
    display: inline-block;
    width: 209px;
    height: 35px;
    margin-top: 25px;
    background: url("../images/logo.png") no-repeat;
  }
  .nav{
    display: inline-block;
    padding-left: 20px;
    li{
      margin-top: 25px;
      height: 35px;
      line-height: 35px;
      padding: 0 5px;
      cursor: pointer;
      a,a:focus,a:hover{
        border: 0;
        font-size: 16px;
        color: #222;
      }
      a:hover{
        border-bottom: 3px solid #1b6d85;
      }
    }
  }
  .buttons{
    float: right;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    padding: 0 10px;
    .btn{
      width: 90px;
      line-height: 20px;
      border-radius: 30px;
      font-size: 14px;
      span{
        font-size: 10px;
      }
    }
    .btn:first-of-type{
      margin-right: 5px;
      //渐变背景色
      background-image: linear-gradient(90deg,#36a7f1,#49cbfe),linear-gradient(#32a3ef,#32a3ef);
      color: #fff;
    }
    .btn:last-of-type{
      margin-left: 5px;
    }
  }
}

.carousel{
  padding: 0;
}

.notice{
  height: 40px;
  margin-top: 10px;
  padding: 0;
  .image{
    width: 15px;
    height: 15px;
    line-height: 40px;
    cursor: pointer;
  }
  .text{
    line-height: 40px;
    color: #666;
    cursor: pointer;
  }
  .time{
    padding-left: 20px;
    line-height: 40px;
    font-size: 12px;
    color: #999;
    cursor: pointer;
  }
  .more{
    float: right;
    line-height: 40px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
  }
}

.intro{
  height: 200px;
  .content{
    height: 150px;
    padding-top: 50px;
    padding-bottom: 46px;
    .content-item{
      font-size: 0;
      cursor: pointer;
      .image,.text{
        display: inline-block;
      }
      .image{
        width: 100px;
        height: 50px;
        font-size: 50px;
        text-align: center;
      }
      .text{
        font-size: 14px;
        line-height: 27px;
        p{
          font-weight: bold;
          font-size: 16px;
          color: #313b50;
        }
        span{
          font-size: 14px;
          color: #999;
        }
      }
    }
    .content-item:hover{
      padding-top: 2px;
      div,p,span{
        color: #008aff;
      }
    }
  }
  .data{
    height: 50px;
    border-top: 1px solid #efefef;
    .data-item{
      line-height: 50px;
      text-align: center;
      color: #999;
      .number{
        color: #008aff;
      }
      .split{
        float: right;
        line-height: 50px;
      }
    }
  }
}

.rainbow{
  margin-top: 50px;
  padding: 0;
  .header{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    span{
      font-size: 12px;
      color: #999;
    }
    .split{
      font-size: 18px;
    }
    .more{
      float: right;
    }
  }
  .content{
    .content-item{
      cursor: pointer;
      .item-header{
        padding-top: 30px;
        font-size: 16px;
        font-weight: bold;
      }
      .item-content{
        padding-top: 20px;
        .left{
          p:first-of-type{
            line-height: 38px;
            color: #fc2f1a;
            font-size: 28px;
          }
          p:last-of-type{
            color: #999;
            font-size: 14px;
          }
        }
        .right{
          p:first-of-type{
            line-height: 38px;
            font-size: 16px;
          }
          p:last-of-type{
            color: #999;
            font-size: 14px;
          }
        }
      }
    }
    .content-item:hover{
      transform: scale(1.05);
    }
  }
}

.list-fast {
  margin-top: 50px;
  padding: 0;
  .header {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    span {
      font-size: 12px;
      color: #999;
    }
    .split {
      font-size: 18px;
    }
  }
  .content{
    margin-top: 30px;
    text-align: center;
    .content-item{
        padding: 20px 0;
      .title{
        line-height: 60px;
        font-size: 18px;
        color: #313b50;
      }
      .rate{
        p{
          margin: 0;
          line-height: 40px;
          font-size: 28px;
          color: #fc2f1a;
        }
        span{
          line-height: 20px;
          font-size: 12px;
          color: #999;
        }
      }
      .time{
        p{
          margin: 0;
          line-height: 40px;
          font-size: 20px;
          color: #313b50;
        }
        span{
          line-height: 20px;
          font-size: 12px;
          color: #999;
        }
      }
      .info{
        margin: 0;
        line-height: 60px;
      }
      .lend{
        button{
          width: 120px;
          height: 36px;
          margin-top: 12px;
          line-height: 36px;
          border: 1px solid #fc2f1a;
          border-radius: 2px;
          color: #fc2f1a;
        }
        button:hover{
          background-color: #fc2f1a;
          color: #fff;
        }
      }
    }
  }
}

.fast-lend{
  margin-top: 50px;
  padding: 0;
  .header{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    span{
      font-size: 12px;
      color: #999;
    }
  }
  .content{
    margin-top: 30px;
    .content-item{
      cursor: pointer;
      .item-left{
        margin-right: 200px;
        text-align: center;
        .title{
          font-size: 28px;
          color: #008aff;
          line-height: 30px;
          text-align: center;
        }
        .info{
          font-size: 14px;
          color: #666;
          line-height: 30px;
          text-align: center;
        }
        button{
          width: 100px;
          height: 30px;
          margin-top: 45px;
          border: 1px solid #373d42;
          color: #313b50;
        }
      }
      .item-right{
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        img{
          width: 200px;
          height: 200px;
          background-size: 100% 100%;
        }
      }
    }
    .content-item:hover{
      transform: scale(1.05);
    }
  }
}